version: '3.8'

services:
  test-apache-server:
    # image: "ghcr.io/eikonproject/apache_dev_server:main"
    build:
      dockerfile: ./Dockerfile
      args:
        WEBSITE_NAME: test-website.org
    volumes:
      - ./test-website.org/htdocs:/home/htdocs
    ports:
      - 8901:80
